.tag {
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-0);
	padding: var(--spacing-0) var(--spacing-3);
	border-radius: var(--border-radius);
	font-size: 1.2rem;
	font-weight: 500;
	white-space: nowrap;
	background-color: var(--tag-bg);
	color: var(--tag-color);
}

.tag[data-type="red"] {
	--tag-color: var(--semantic-color-fg);
	--tag-bg: var(--red-color);
}

.tag[data-type="orange"] {
	--tag-color: var(--semantic-color-fg);
	--tag-bg: var(--hard-color);
}

.tag[data-type="green"] {
	--tag-color: var(--semantic-color-fg);
	--tag-bg: var(--review-color);
}

.tag[data-type="blue"] {
	--tag-color: var(--semantic-color-fg);
	--tag-bg: var(--easy-color);
}

.tag[data-type="primary"] {
	--tag-color: var(--primary-color-fg);
	--tag-bg: var(--primary-color);
}

.tag-row {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-1);
}
