.flash-card {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
}

.true-false {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);

	& .buttons-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4px;

		& button {
			border: var(--default-border-width) solid var(--border-color);
			transition: all var(--default-transition-time);

			&:focus {
				box-shadow: var(--default-box-shadow);
			}

			&.checked {
				border-color: var(--primary-color);
				background-color: var(--primary-color);
				color: #fff;
			}
		}
	}
}

/* This should be a global class since the HTML is persisted on database,
 * and the class name might change if we do not have it as global
 */
:global(.cloze-node) {
	display: inline-block;
	padding: var(--spacing-1) calc(1.6ch + var(--spacing-1));
	padding-right: var(--spacing-1);
	border-radius: var(--default-border-radius);
	border: var(--default-border-width) solid var(--text-color);
	margin: var(--spacing-0);
	position: relative;

	&:before {
		content: attr(index);
		position: absolute;
		left: var(--spacing-1);
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		padding-right: var(--spacing-0);
		border-right: var(--default-border-width) solid var(--text-color);
		font-weight: normal;
		font-style: normal;
	}
}
