.flash-card {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
}

.true-false {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);

	& .buttons-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4px;

		& button {
			border: var(--border-width) solid var(--border-default);
			transition: all var(--transition-time);

			&:focus {
				box-shadow: var(--shadow-sm);
			}
		}
	}
}

/* This should be a global class since the HTML is persisted on database,
 * and the class name might change if we do not have it as global
 */
:global(.cloze-node) {
	padding: var(--spacing-1);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--text-primary);

	display: inline;
	margin: 0 2px;
	line-height: 2;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;

	&:before {
		content: attr(index);
		padding-right: 2px;
		margin-right: 2px;
		border-right: var(--border-width) solid var(--text-primary);
		font-weight: normal;
		font-style: normal;
	}
}
