.file-tree-container {
	--outer-container-padding: var(--spacing-0);
	padding: 0
		calc(
			var(--sidebar-inner-horizontal-padding) -
				var(--outer-container-padding)
		);
}

.file-item-outer-container {
	padding: var(--outer-container-padding);
	border: 2px solid transparent;
	border-radius: var(--border-radius);

	/* If none of the children has drag-over class, then add border color */
	&:not(:has(.drag-over)).drag-over {
		border-color: var(--primary-color);
	}
}

.file-tree-row-container {
	width: 100%;
	border-radius: var(--border-radius);
	position: relative;

	&.dragging {
		opacity: var(--dragged-opacity);
	}

	&:hover > .file-tree-dots,
	&:focus > .file-tree-dots,
	&:focus-within > .file-tree-dots {
		opacity: 1;
	}
}

:global(body.mobile) .file-tree-dots {
	opacity: 1;
}

.file-tree-row {
	width: 100%;
	padding: var(--button-row-padding);
	width: 100%;
	display: flex;
	align-items: center;
	gap: var(--spacing-1);

	&.with-form {
		padding: 0 var(--spacing-4);
		/* Added to make the forms have the same border as the buttons. */
		border: var(--border-width) solid transparent;
	}

	& .file-tree-row-input {
		border-width: var(--border-width);
		width: 100%;
		font-size: inherit;
	}

	& p {
		width: 80%;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
		text-wrap: nowrap;
	}

	& .file-tree-row-input,
	& p {
		padding-right: var(--spacing-4);
		padding-left: var(--spacing-4);
	}
}

.file-tree-dots {
	opacity: 0;
	position: absolute;
	width: fit-content;
	right: var(--spacing-1);
	top: 50%;
	transform: translateY(-50%);
	border: var(--border-width) solid transparent;
	border-radius: var(--border-radius);
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--surface-pane);
	}
}

.file-tree-dots-selected {
	color: var(--primary-color-fg);
	outline-color: transparent;

	&:hover {
		background-color: var(--primary-color);
		color: var(--primary-color-fg);
	}

	&:active {
		background-color: var(--primary-color);
	}

	&:active,
	&:focus {
		color: var(--primary-color-fg);
		outline-color: var(--primary-color-fg);
	}
}

.file-tree-item-children {
	padding-left: var(--spacing-3);
	transition: all var(--transition-time);
}

.file-tree-item-children.root {
	padding-left: 0;
	border-left: none;
}

.file-tree-actions-menu {
	left: var(--sidebar-inner-horizontal-padding);
	right: var(--sidebar-inner-horizontal-padding);
}

.form {
	height: 100%;
}

.fsrs-dialog {
	width: 52rem;
	display: flex;
	flex-direction: column;

	.choose-profile-row {
		display: flex;
		width: 100%;
		gap: var(--spacing-2);

		& select {
			width: 100%;
		}
	}

	& textarea {
		resize: none;
	}
}
