.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3.2rem 1.2rem;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	gap: 1.2rem;
}

.box {
	width: 100%;
	background: var(--surface-card);
	margin: 0 auto;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-sm);
	overflow-x: auto;
	border: var(--border-width) solid var(--border-default);
}

.header {
	border-bottom: var(--border-width) solid var(--border-default);
	font-weight: 400;
	min-width: fit-content;
	background-color: var(--surface-pane);
	padding: var(--spacing-4) var(--spacing-5);
}

.main-content {
	padding: var(--spacing-4);
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-1);

	& .buttons {
		display: grid;
		grid-template-columns: 1.6rem minmax(6rem, 1fr);
		gap: 4px;
		width: 100%;

		& .expand-button {
			display: flex;
			align-items: center;
		}
	}

	.file-name-button {
		display: flex;
		align-items: center;
		gap: 0.6rem;
		text-align: left;
		padding: 0.4rem;

		.icon {
			flex-shrink: 0;
		}

		p {
			min-width: 0;
			word-break: break-word;
		}
	}

	& .columns {
		display: grid;
		grid-template-columns: repeat(3, 2rem);
		gap: var(--spacing-4);
		text-align: center;
		padding: var(--spacing-1);

		& > * {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	& button {
		padding: 0;
	}
}

.tree {
	.tree-children {
		padding-left: var(--spacing-4);
		transition: all var(--transition-time);
	}

	& .tree-row {
		border-radius: var(--border-radius);
		transition: all var(--transition-time);
		cursor: pointer;

		&:focus,
		&:focus-within,
		&:hover {
			background-color: var(--surface-pane);
		}
	}
}

.reviews-overview {
	text-align: center;
	margin: var(--spacing-4);
}

.review-heatmap {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	margin: 0 auto;

	& .review-heatmap-column {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 2px;
		margin: 4px 0;

		& .tooltip {
			z-index: 2;
			font-size: 1.4rem;
		}

		.heatmap-box {
			padding: 4px;
			border: var(--border-width) solid transparent;
			background-color: var(--surface-pane);
			position: relative;

			&:hover {
				border-color: var(--text-primary);
			}

			&.hidden {
				visibility: hidden;
			}
		}
	}
}
