.box {
	width: 52rem;
}

.error-alert {
	margin-top: var(--default-padding);
}

.button-link {
	font-size: 1.4rem;
	text-align: left;
	margin-top: var(--xl-padding);
}

.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--xl-padding);
}

.verify-email-instruction {
	margin: var(--large-padding) 0;
}
