.container {
	position: fixed;
	bottom: 0;
	left: 50%;
	background-color: var(--surface-control);
	transform: translateX(-50%);
	margin-bottom: var(--spacing-6);
	padding: var(--spacing-5);
	box-shadow: var(--shadow-md);
	border-radius: var(--border-radius);
	z-index: 9999;
}
