.vertical-form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-3);

	& * {
		font-size: 1.4rem;
	}

	& .error-message {
		color: var(--red-color);
	}
}

.row-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-1);
}

.read-dialog {
	padding: 0;
	height: 95vh;
	width: 800px;
	max-width: 95vw;
	--sections-padding: var(--spacing-4);

	.title {
		padding: var(--sections-padding);
		border-bottom: var(--default-border-width) solid var(--border-color);

		position: sticky;
		background-color: var(--default-background-color);
		top: 0;
		z-index: 1;

		font-size: 1.8rem;
		font-weight: 400;
		word-break: break-all;
	}

	.read-dialog-body {
		padding: var(--sections-padding);
	}

	.footer {
		padding: var(--sections-padding);
		border-top: var(--default-border-width) solid var(--border-color);

		position: sticky;
		background-color: var(--default-background-color);
		bottom: 0;
		z-index: 1;

		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: var(--spacing-2);
		/*TODO: full screen for small devices*/
	}
}

:global(.highlight-node) {
	&,
	& * {
		background-color: var(--secondary-color) !important;
		color: #fff;
	}
}
