.container {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	background-color: var(--default-background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-3);
	width: 100%;

	&.syncing {
		opacity: 0.5;
	}

	& .add-button-container {
		width: 100%;
		display: flex;
		justify-content: center;
		border: var(--default-border-width) solid transparent;
		padding-top: var(--spacing-4);

		& .add-button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: var(--spacing-1);
			font-size: 1.4rem;
		}
	}

	& .add-cell-dialog {
		padding: 0;
		width: 52rem;
	}
}

.new-cell-selector {
	display: flex;
	flex-direction: column;
	border-radius: var(--default-border-radius);
	box-shadow: var(--default-box-shadow);
	padding: var(--spacing-5) var(--spacing-4);
	background: var(--default-background-color);
	gap: var(--spacing-4);

	& * {
		font-size: 1.4rem;
	}

	& label {
		text-align: center;
		font-size: 1.6rem;
	}

	& button {
		display: flex;
		align-items: center;
		gap: 8px;

		&:focus {
			outline-color: transparent;
		}
	}
}

.cell-block {
	border-radius: var(--default-border-radius);
	border: var(--default-border-width) solid var(--border-color);
	position: relative;
	width: 100%;
	background-color: var(--default-background-color);

	&:hover {
		border-color: var(--hover-border-color);
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--spacing-1) var(--spacing-4);
		/* Important so that header always have the same height. */
		height: 4.5rem;

		gap: var(--spacing-2);
		border-bottom: var(--default-border-width) solid var(--border-color);

		border-top-left-radius: var(--default-border-radius);
		border-top-right-radius: var(--default-border-radius);
	}

	.main-content {
		padding: var(--spacing-3);
	}

	& .focus-tools {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-1);
	}

	& .delete * {
		color: var(--red-color);
	}

	& .drag {
		cursor: grab;
	}

	&.selected-cell {
		border-color: var(--primary-color);
		box-shadow: var(--default-box-shadow);
	}

	&.dragging {
		opacity: var(--dragged-opacity);
	}

	& .cell-title {
		text-transform: capitalize;
		border-radius: var(--default-border-radius);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-2);

		& * {
			font-weight: 400;
		}

		& .icon {
			color: var(--primary-color-shade-20);
		}
	}

	& .focus-tools-actions-menu {
		right: 0;
	}

	& .focus-tools-actions-menu,
	& .insert-cell-popup,
	& .repetitions-info-container {
		width: 28rem;
		max-width: 70vw;
	}

	& .repetitions-info-container {
		cursor: auto;
		display: flex;
		flex-direction: column;
		gap: 2px;
		align-items: start;
		border-radius: var(--default-border-radius);
		text-align: left;

		padding: var(--spacing-4);
		background-color: var(--default-background-color);
		box-shadow: var(--default-box-shadow);
		font-size: 1.4rem;
		line-height: 1.5;
		padding: var(--spacing-5);
	}

	& .repetitions-info-container,
	& .insert-cell-popup {
		position: absolute;
		top: calc(100% + 4px);
		right: 0;
		z-index: 4;
	}
}

.cell-block.drag-over,
.add-button-container.drag-over {
	border-top-color: var(--primary-color);
	box-shadow: 0 -2px 0 var(--primary-color);
	border-radius: 0;

	& * {
		pointer-events: none;
	}
}
