.container {
	overflow-y: auto;
	height: 100%;
	background-color: var(--default-background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	width: 100%;

	& .add-button-container {
		width: 100%;
		display: flex;
		justify-content: center;
		border: 1px solid transparent;
		margin-top: 1rem;

		& .add-button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: var(--small-padding);
			font-size: 1.4rem;
		}
	}

	& .add-cell-dialog {
		padding: 0;
		width: 48rem;
	}
}

.new-cell-selector {
	display: flex;
	flex-direction: column;
	border-radius: var(--default-border-radius);
	box-shadow: var(--default-box-shadow);
	padding: var(--large-padding) var(--default-padding);
	background: var(--default-background-color);
	gap: var(--default-padding);

	& * {
		font-size: 1.4rem;
	}

	& label {
		text-align: center;
		font-size: 1.6rem;
	}

	& button {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.cell-block {
	padding: var(--default-padding);
	border-radius: var(--default-border-radius);
	border: 1px solid transparent;
	position: relative;
	width: 100%;

	&:hover {
		border-color: var(--border-color);
	}

	& .focus-tools {
		position: absolute;
		align-items: center;
		justify-content: center;
		background-color: var(--default-background-color);
		z-index: 2;
		right: 1.2rem;
		top: 0;
		border-radius: var(--default-border-radius);
		box-shadow: var(--default-box-shadow);
		transform: translateY(-20%);
		display: flex;
	}

	& .delete * {
		color: var(--red-color);
	}

	& .repetitions-info-button {
		position: relative;
	}

	& .drag {
		cursor: grab;
	}

	& .drag:hover {
		background-color: var(--grey-background-color);
	}

	& .insert-cell-popup {
		position: absolute;
		top: 34px;
		right: 1.2rem;
		z-index: 3;
		max-width: 24rem;
	}

	&.selected-cell {
		border-color: var(--primary-color);
	}

	&.dragging {
		opacity: 0.7;
	}

	& .cell-title {
		font-size: 1.2rem;
		text-transform: capitalize;
		padding: var(--default-padding);
		border-radius: var(--default-border-radius);
		background-color: var(--primary-color);
		display: inline-flex;
		gap: 4px;
		align-items: center;
		margin-bottom: var(--default-padding);

		& * {
			color: #fff;
			font-weight: 400;
		}
	}
}

:global(body.dark) .cell-block {
	& .focus-tools {
		background-color: var(--light-default-background-color);
	}
}

.cell-block.drag-over,
.add-button-container.drag-over {
	border-top-color: var(--primary-color);
	box-shadow: 0 -2px 0 var(--primary-color);
	border-radius: 0;

	& * {
		pointer-events: none;
	}
}

.repetitions-info-container {
	position: absolute;
	cursor: auto;
	display: flex;
	flex-direction: column;
	gap: 2px;
	align-items: start;
	width: 26rem;
	border-radius: var(--default-border-radius);
	text-align: left;

	padding: var(--default-padding);
	background-color: var(--default-background-color);
	box-shadow: var(--default-box-shadow);
	font-size: 1.4rem;
	line-height: 1.5;

	top: calc(100% + 4px);
	right: 0;
	z-index: 1;
	padding: var(--large-padding);
}

:global(body.dark) .repetitions-info-container {
	background-color: var(--light-default-background-color);
}
