.workspace {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

:global(body.mobile) .workarea {
	padding-top: var(--mobile-padding-top);
}

.workarea {
	background-color: var(--surface-page);
	flex-shrink: 1;
	min-width: 0;
	width: 100%;
	max-height: 100vh;

	&.hidden {
		visibility: hidden;
	}
}

.error-dialog {
	position: absolute;
	z-index: 5;
	right: 1rem;
	top: 1rem;
	max-width: 28rem;
	padding: var(--spacing-5);
}
