.box {
	width: 52rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.2rem;
}

.title-bar {
	display: flex;
	align-items: center;
	gap: var(--spacing-1);
	font-size: 2.4rem;
}

.buttons-row {
	display: flex;
	justify-content: end;
	gap: 6px;
	margin-top: var(--spacing-4);

	& button {
		padding-right: var(--spacing-5);
		padding-left: var(--spacing-5);
	}
}
