.box {
	width: 52rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.2rem;
}

.title-bar {
	display: flex;
	align-items: center;
	gap: var(--default-padding);
	font-size: 2.4rem;
}

.buttons-row {
	display: flex;
	justify-content: end;
	gap: 6px;
	margin-top: var(--default-padding);

	& button {
		font-size: 1.6rem;
		padding: var(--default-padding) var(--large-padding);
	}
}
