.container {
	position: relative;
	border: var(--border-width) solid var(--border-default);
	border-radius: var(--border-radius);
	transition: all var(--transition-time);
	word-wrap: break-word;
	word-break: break-word;

	&:hover {
		border-color: var(--border-strong);
	}

	&:focus-within {
		border-color: var(--primary-color);
	}
}

.title {
	padding-left: var(--spacing-2);
}

.editor {
	min-height: calc(1.4rem + 4 * var(--spacing-1));
	padding: var(--spacing-1) var(--spacing-4);
	outline: none;
	overflow: auto;

	ul,
	ol {
		list-style-position: inside;
	}

	a {
		cursor: pointer;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	td,
	th {
		border: var(--border-width) solid var(--border-default);
		padding: var(--spacing-1);
		background-color: var(--surface-pane) !important;
	}

	code {
		background-color: var(--surface-control);
	}
}

.floating-menu {
	position: absolute;
	background-color: var(--surface-page);
	padding: var(--spacing-4);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-items: center;
	gap: var(--spacing-0);
	width: fit-content;
	max-width: 100%;
	z-index: 3;

	& > button {
		display: flex;
		align-items: center;
		justify-items: center;
	}
}

.vertical-border {
	height: 1.6rem;
	border-right: var(--border-width) solid var(--text-primary);
	margin: 0 4px;
}

.image-container {
	position: relative;
	display: inline-block;

	&.selected {
		outline: var(--outline-width) dashed var(--text-primary);
	}

	--resize-circle-size: 12px;
	--move-by: calc(var(--resize-circle-size) / -2);

	& .resize-circle {
		position: absolute;
		width: var(--resize-circle-size);
		height: var(--resize-circle-size);
		background-color: var(--text-primary);
		border: var(--border-width) solid var(--border-default);
		border-radius: var(--border-radius);
	}

	& .bottom-right {
		right: var(--move-by);
		bottom: var(--move-by);
		cursor: nwse-resize;
	}

	& .bottom-left {
		left: var(--move-by);
		bottom: var(--move-by);
		cursor: nesw-resize;
	}

	& .top-right {
		right: var(--move-by);
		top: var(--move-by);
		cursor: nesw-resize;
	}

	& .top-left {
		left: var(--move-by);
		top: var(--move-by);
		cursor: nwse-resize;
	}
}
