.alert {
	color: #fff;
	padding: var(--spacing-4) var(--spacing-5);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--spacing-2);
	box-shadow: var(--shadow-sm);
	word-break: break-word;

	& p {
		word-break: break-word;
	}

	&[role="button"] {
		cursor: pointer;
	}

	&.error {
		background-color: var(--red-color);
		color: var(--semantic-color-fg);
	}
	&.primary {
		background-color: var(--primary-color);
		color: var(--primary-color-fg);
	}

	& button {
		padding: var(--spacing-1);

		&:focus {
			outline-color: #fff;
		}
	}
}
