.alert {
	color: #fff;
	padding: var(--spacing-4) var(--spacing-5);
	border-radius: var(--default-border-radius);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--spacing-2);

	& p {
		word-break: break-all;
	}

	&[role="button"] {
		cursor: pointer;
	}

	&.error {
		background-color: var(--red-color);
	}
	&.primary {
		background-color: var(--primary-color);
	}
	&.secondary {
		background-color: var(--secondary-color);
	}
	&.success {
		background-color: var(--green-color);
	}

	& button {
		padding: var(--spacing-1);

		&:focus {
			outline-color: #fff;
		}
	}
}
