.alert {
	font-size: 1.4rem;
	color: #fff;
	padding: var(--default-padding) var(--large-padding);
	border-radius: var(--default-border-radius);
	display: flex;
	justify-content: space-between;
	align-items: center;

	&[role="button"] {
		cursor: pointer;
	}

	&.error {
		background-color: var(--red-color);
	}
	&.primary {
		background-color: var(--primary-color);
	}
	&.secondary {
		background-color: var(--secondary-color);
	}
	&.success {
		background-color: var(--green-color);
	}

	& button {
		padding: 2px;

		&:hover {
			opacity: 0.8;
		}

		&:focus {
			outline-color: #fff;
		}
	}
}
