.container {
	max-width: fit-content;
	position: relative;
	background-color: var(--surface-control);
	position: relative;
	border-radius: 20px;
	padding: var(--spacing-5);
	min-width: 5rem;
	transition: all var(--transition-time);

	&:has(input:checked) {
		background-color: var(--primary-color);
	}

	&:focus-within {
		outline-color: var(--surface-control);
	}

	&:has(input:checked):focus-within {
		outline-color: var(--primary-color);
	}

	& input {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: transparent;
		border-color: transparent;
		outline: none;
	}

	& input:checked {
		position: absolute;
		background-color: transparent;
		border-color: transparent;
	}

	& input:checked::after {
		display: none;
		content: none !important;
	}

	& input + .circle {
		top: 4px;
		bottom: 4px;
		left: 4px;
		width: var(--spacing-6);
		border-radius: 50%;
		position: absolute;
		transition: all var(--transition-time);
		background-color: var(--surface-thumb);
		pointer-events: none;
	}

	& input:checked + .circle {
		left: 100%;
		transform: translateX(calc(-100% + -4px));
		background-color: var(--primary-color-fg);
	}
}
