.card-section {
	padding: var(--content-pad);
}

.question-section {
	border-bottom: var(--default-border-width) solid var(--border-color);
}

.cloze {
	background-color: var(--primary-color);
	color: #fff;
	font-weight: 600;
	display: inline-block;
	border-radius: var(--default-border-radius);
	padding: var(--spacing-2);
}

.cloze-hidden {
	color: var(--primary-color);
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.true-false-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-4);

	& button {
		border: var(--default-border-width) solid var(--border-color);
		transition: var(--default-transition-time) all;
		max-width: 50%;
		padding-left: var(--spacing-7);
		padding-right: var(--spacing-7);
		flex: 1;

		&:hover {
			border-color: var(--hover-border-color);
		}

		&:focus {
			box-shadow: var(--default-box-shadow);
		}

		&.checked {
			border-color: var(--primary-color);
		}

		&.correct:not(disabled) {
			border-color: var(--primary-color);
			background-color: var(--primary-color);
			color: #fff;

			&:hover,
			&:active {
				background-color: var(--primary-color);
			}
		}
	}
}
