.card-section {
	padding: var(--content-pad);
}

.question-section {
	border-bottom: var(--border-width) solid var(--border-strong);
	background-color: var(--surface-pane);
}

.cloze,
.cloze-hidden {
	background-color: var(--primary-color);
	color: var(--primary-color-fg);
	border-radius: var(--border-radius);
	padding: var(--spacing-1);

	display: inline;
	line-height: 2;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	margin: 0 2px;
}

.cloze-hidden {
	color: var(--primary-color);
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.true-false-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-4);

	& button {
		border: var(--border-width) solid var(--border-default);
		transition: var(--transition-time) all;
		max-width: 50%;
		padding-left: var(--spacing-7);
		padding-right: var(--spacing-7);
		flex: 1;

		&:hover {
			border-color: var(--border-strong);
		}

		&:focus {
			box-shadow: var(--shadow-sm);
		}

		&.checked {
			border-color: var(--primary-color);
		}
	}
}
