.side-bar {
	--sidebar-inner-horizontal-padding: var(--spacing-4);
	--sidebar-inner-vertical-padding: var(--spacing-4);
	--sidebar-inner-padding: var(--sidebar-inner-vertical-padding)
		var(--sidebar-inner-horizontal-padding);
	--border-separator: var(--border-width) solid var(--border-default);

	--button-row-padding: var(--spacing-3) var(--spacing-4);

	flex-shrink: 0;
	border-right: var(--border-separator);
	background-color: var(--surface-pane);
	width: 28rem;
	transition: var(--transition-time) all;
	max-width: 100%;
	position: relative;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	z-index: 6;
	color: var(--text-secondary);

	& .side-bar-top-container {
		overflow-y: auto;
		/* Necessary as the sidebar might show scrollbar when it is collapsing. */
		overflow-x: hidden;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--spacing-6);
		padding-bottom: var(--sidebar-inner-vertical-padding);
		/* This property is necessary so that the expanded and
		 * collapsed sidebar have the same height.
		 */
		height: 5rem;

		& h2 {
			font-size: 2rem;
			font-weight: 600;
		}

		& img {
			margin-right: var(--spacing-4);
			width: 3.2rem;
		}
	}

	&.closed {
		/* Important so that it overrides the small screen class. */
		--sidebar-inner-horizontal-padding: var(--spacing-2);
		width: 50px !important;
		overflow: hidden;

		& .side-bar-top-container > * {
			display: none;
		}

		& .header {
			display: flex;
			padding-right: 0;
			padding-left: 0;
			justify-content: center;

			& .title {
				display: none;
			}
		}

		& .rows {
			display: flex;

			& .row {
				justify-content: center;

				& p {
					display: none;
				}
			}
		}

		.toggle-button,
		.row,
		.bottom-button {
			padding: var(--spacing-4) var(--spacing-3);
		}

		& .bottom-button p {
			display: none;
		}
	}
}

:global(body.mobile) .side-bar {
	padding-top: var(--mobile-padding-top);
}

.side-bar.small-screen {
	width: 100vw;
	transition: none;

	& .toggle-button {
		display: none;
	}

	&.closed {
		.toggle-button {
			display: block;
		}
	}
}

.alert {
	margin: var(--sidebar-inner-vertical-padding)
		var(--sidebar-inner-horizontal-padding) 0;
}

.verify-button {
	margin: var(--sidebar-inner-vertical-padding)
		var(--sidebar-inner-horizontal-padding) 0;
	width: calc(100% - 2 * var(--sidebar-inner-horizontal-padding));

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-1);
}

.file-tree {
	margin-top: var(--sidebar-inner-vertical-padding);
}

.rows {
	padding: var(--spacing-5) var(--sidebar-inner-horizontal-padding);
	border-bottom: var(--border-separator);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-4);
	width: 100%;
	padding: var(--button-row-padding);

	/* Necessary so that the button has the same height when the sidebar is closed. */
	height: calc(
		1.5 * 1.6rem /* Line height multiplied by font size. */ + 2 *
			var(--spacing-3) /* Height of padding */
	);
}

.search-input-container {
	padding: var(--sidebar-inner-padding);
	border-bottom: var(--border-separator);

	.search-input {
		width: 100%;
		font-size: 1.6rem;

		&:focus,
		&:not(:placeholder-shown) {
			background-color: var(--surface-card);
			border-color: var(--primary-color);
		}
	}
}

.bottom-button-container {
	padding: var(--spacing-2) var(--sidebar-inner-horizontal-padding);
	width: 100%;
	border-top: var(--border-width) solid var(--border-default);

	.bottom-button {
		/* Important to have teh same height in closed */
		height: 3.625rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-2);
		width: 100%;
		padding: var(--button-row-padding);
		font-size: 1.6rem;
	}
}

.sync-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-4);
}
