.side-bar {
	--sidebar-inner-horizontal-padding: 20px;
	--sidebar-inner-padding: 12px var(--sidebar-inner-horizontal-padding);
	--border-separator: 1px solid var(--border-color);

	flex-shrink: 0;
	border-right: var(--border-separator);
	background-color: var(--side-bar-background-color);
	width: 28rem;
	transition: var(--default-transition-time) all;
	max-width: 100%;
	position: relative;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;

	& .side-bar-top-container {
		overflow-y: auto;
		/* Necessary as the sidebar might show scrollbar when it is collapsing. */
		overflow-x: hidden;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--xl-padding);
		padding-bottom: var(--default-padding);

		& h2 {
			font-size: 2rem;
			font-weight: 600;
		}

		& img {
			margin-right: var(--default-padding);
			width: 2.8rem;
		}

		& .toggle-button {
			transition: 0s tansform;
			transition: 0s width;
		}
	}

	& .title-row {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	&.closed {
		width: 62px;
		overflow: hidden;

		& .side-bar-top-container > * {
			display: none;
		}

		& .header {
			display: flex;
			padding-right: 0;
			padding-left: 0;
			justify-content: center;

			& .title-row {
				display: none;
			}

			& .toggle-button {
				transform: rotate(180deg);
			}
		}

		& .rows {
			display: flex;
			padding-right: var(--default-padding);
			padding-left: var(--default-padding);

			& .row {
				justify-content: center;

				& p {
					display: none;
				}
			}
		}

		& .bottom-button p {
			display: none;
		}
	}
}

/* This must be synced with SMALL_SCREEN_MAX_WIDTH_IN_PX constant */
@media (max-width: 46rem) {
	.side-bar {
		width: 100vw;
		transition: none;

		.toggle-button {
			display: none;
		}

		&.closed {
			.toggle-button {
				display: block;
			}
		}
	}
}

.alert {
	margin: 4px var(--large-padding);
}

.verify-button {
	margin: var(--default-padding) var(--large-padding) 0;
	width: calc(100% - var(--large-padding) * 2);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--small-padding);
}

.rows {
	padding: var(--large-padding);
	border-bottom: var(--border-separator);
	display: flex;
	flex-direction: column;
	gap: var(--medium-padding);

	.row {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
		width: 100%;
		transition: all var(--default-transition-time);
		padding: var(--default-padding);
		font-size: 1.6rem;

		/* Necessary so that the button has the same height when the sidebar is closed. */
		height: calc(
			1.5 * 1.6rem /* Line height multiplied by font size. */ + 2 *
				var(--default-padding) /* Height of padding */
		);

		&:hover {
			background-color: var(--surface-background-color);
		}

		&.active {
			background: var(--primary-color);
			color: #fff;
		}
	}
}

.search-input-container {
	padding: var(--sidebar-inner-padding);
	border-bottom: var(--border-separator);

	.search-input {
		width: 100%;
		background-color: inherit;
		font-size: 1.6rem;

		&:hover {
			background-color: var(--default-background-color);
		}

		&:focus,
		&:not(:placeholder-shown) {
			background-color: var(--default-background-color);
			border-color: var(--primary-color);
		}
	}
}

.bottom-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--default-padding);
	border-radius: 0;
	border-top: 1px solid var(--border-color);

	padding: var(--large-padding);
	/* Necessary so that the button has the same height when the sidebar is closed. */
	height: calc(
		1.5 * 1.6rem /* Line height multiplied by font size. */ + 2 *
			var(--large-padding) /* Height of padding */
	);
}

.sync-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--default-padding);
}
