* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: var(--default-outline);
	outline-offset: var(--default-outline-offset);
}

*:focus {
	outline-color: var(--primary-color);
}

html {
	font-size: 12px;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	font-weight: 400;
	font-style: normal;
	background-color: var(--default-background-color);
	color: var(--text-color);

	--default-outline-width: 2px;
	--default-outline: var(--default-outline-width) solid transparent;
	--default-outline-offset: 1px;

	--primary-color: #2563eb;
	--primary-color-shade-10: #134cca;
	--primary-color-shade-20: #0e3b9c;
	--primary-color-tint-10: #3b82f6;
	--primary-color-tint-20: #60a5fa;

	--secondary-color-tint-10: #9b69f1;
	--secondary-color: #7c3aed;
	--secondary-color-shade-10: #6d28d9;

	--text-color: #2b2d42;
	--text-color-secondary: #6c757d;

	--border-color: var(--surface-background-color-shade-10);
	--hover-border-color: var(--surface-background-color-shade-20);

	--surface-background-color-tint-10: rgb(248, 248, 249);
	--surface-background-color: #e6e9ec;
	--surface-background-color-shade-10: #c9d0d6;
	--surface-background-color-shade-20: #acb6c0;
	--surface-background-color-shade-30: #8f9caa;

	--default-background-color: #ffffff;
	--side-bar-background-color: var(--surface-background-color-tint-10);

	--red-color: #e71d36;
	--red-color-shade-10: #db172f;
	--red-color-shade-20: #ca152c;

	--green-color: #0faa77;

	--new-color: var(--primary-color-shade-20);
	--learning-color: var(--red-color);
	--review-color: var(--green-color);

	--default-border-radius: 8px;

	--spacing-1: 4px;
	--spacing-2: 6px;
	--spacing-3: 8px;
	--spacing-4: 10px;
	--spacing-5: 18px;
	--spacing-6: 26px;
	--spacing-7: 34px;

	--default-border-width: 1px;

	--default-transition-time: 0.2s;

	--default-box-shadow:
		inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
		0 0 4px 1px rgba(0, 0, 0, 0.2);

	--placeholder-color: #adb5bd;
}

/* On dark theme, the roles of shade and tint colors are reversed. */
body.dark {
	--text-color: #f5f7fa;
	--text-color-secondary: #b0bcc9;

	--primary-color-tint-10: #134cca;
	--primary-color-tint-20: #0e3b9c;
	--primary-color-shade-10: #3b82f6;
	--primary-color-shade-20: #60a5fa;

	--secondary-color-shade-10: #9b69f1;
	--secondary-color-tint-10: #6d28d9;

	--border-color: #44464a;
	--hover-border-color: #56585c;

	--default-background-color: #242426;

	--surface-background-color-tint-10: #2d2d2f;
	--surface-background-color: #323234;
	--surface-background-color-shade-10: #4b4b4e;
	--surface-background-color-shade-20: #646468;
	--surface-background-color-shade-30: #7d7d82;

	--red-color: #ef4444;

	--placeholder-color: #b8bec7;
}

/* Used to disable transitions, e.g. when changing theme or when loading the app. */
body.no-transition * {
	transition: none !important;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.4rem;
}

input::placeholder,
textarea::placeholder,
button:disabled {
	color: var(--placeholder-color);
}

button,
button:hover,
input,
textarea,
select,
a {
	color: inherit;
}

select {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a,
a:visited,
button.link {
	color: var(--primary-color);
	transition: var(--default-transition-time);
	padding: 0;
}

body.dark a,
body.dark a:visited,
body.dark button.link {
	color: var(--primary-color-shade-10);
}

body.dark a:hover,
body.dark button.link:hover {
	color: var(--primary-color-shade-20);
}

a:hover,
button.link:hover {
	color: var(--primary-color-shade-10);
}

a:active,
button.link:active {
	color: var(--primary-color-shade-20);
}

.input,
input,
textarea,
select {
	border-radius: var(--default-border-radius);
	outline: none;
	padding: var(--spacing-3) var(--spacing-4);
	border: var(--default-border-width) solid var(--border-color);
	transition: var(--default-transition-time);
	background-color: var(--default-background-color);
	color: var(--text-color);
	appearance: none;
	-webkit-appearance: none;
}

input[type="checkbox"] {
	padding: var(--spacing-4);
}

.input:hover,
input:hover,
textarea:hover,
select:hover {
	border-color: var(--hover-border-color);
}

.input:focus,
input:focus,
textarea:focus,
select:focus {
	border-color: var(--primary-color);
}

input[type="checkbox"] {
	outline: var(--default-outline);
}

input[type="checkbox"]:focus {
	outline-color: var(--primary-color);
}

input[type="checkbox"]:checked {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	position: relative;
}

input[type="checkbox"]:checked::after {
	content: "✓";
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1.6rem;
}

button {
	font-size: 1.6rem;
	border-radius: var(--default-border-radius);
	padding: var(--spacing-3) var(--spacing-4);
	cursor: pointer;
	transition: var(--default-transition-time);
	font-weight: 400;
	background-color: transparent;
	border: var(--default-border-width) solid transparent;
}

button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

button.primary {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

button.primary * {
	color: #fff;
}

button.primary:not(:disabled):focus {
	box-shadow: var(--default-box-shadow);
}

button.primary:hover {
	opacity: 0.9;
}

button.primary:active {
	opacity: 1;
	background-color: var(--primary-color-shade-10);
}

button.secondary {
	color: #fff;
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

button.secondary * {
	color: #fff;
}

button.secondary:not(:disabled):focus {
	box-shadow: var(--default-box-shadow);
}

button.secondary:active {
	background-color: var(--secondary-color-shade-10);
}

button.secondary:focus {
	outline-color: var(--secondary-color-shade-10);
}

button.transparent:not(:disabled):hover {
	background-color: var(--surface-background-color);
}

button.transparent:not(:disabled):active {
	background-color: var(--surface-background-color-shade-10);
}

button.grey-button {
	background-color: var(--surface-background-color);
}

button.grey-button:hover {
	background-color: var(--surface-background-color-shade-10);
}

button.grey-button:active {
	background-color: var(--surface-background-color-shade-20);
}

button.grey-button:focus {
	outline-color: var(--surface-background-color-shade-30);
}

button.red {
	background-color: var(--red-color);
	color: #fff;
}

button.red:hover {
	background-color: var(--red-color-shade-10);
}

button.red:active {
	background-color: var(--red-color-shade-20);
}

button.red:focus {
	outline-color: var(--red-color);
}

button.column-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: 300;
}

.dimmed {
	color: dimgray;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
	align-items: center;
}

.new-color {
	color: var(--new-color);
}

.learning-color {
	color: var(--learning-color);
}

.review-color {
	color: var(--review-color);
}

/* Global classes for the Lexical editor */
.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.8rem;
}

::-webkit-scrollbar-track {
	background: transparent;
	margin: var(--spacing-1) 0;
}

::-webkit-scrollbar-thumb {
	background: var(--surface-background-color-shade-20);
	border-radius: var(--default-border-radius);
	transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}

::-webkit-scrollbar-thumb:active {
	background: var(--primary-color-shade-10);
}

::selection {
	background-color: var(--primary-color);
	color: #fff;
}
