* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 2px solid transparent;
	outline-offset: 1px;
}

*:focus {
	outline-color: var(--primary-color);
}

html {
	font-size: 12px;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	font-weight: 400;
	font-style: normal;
	background-color: var(--body-background-color);
	color: var(--text-color);

	/* Colors */
	--primary-color: #0f766e;
	--primary-color-shade-10: #094944;
	--primary-color-shade-20: #031c1a;
	--primary-color-shade-50: #000;
	--secondary-color: #d97706;
	--secondary-color-shade-10: #a75c05;
	--red-color: #d52726;
	--red-color-light-10: #e04f4e;

	--text-color: #333333;
	--border-color: #e0e0e0;
	--hover-border-color: #b3b3b3;
	--link-color: #387adf;
	--link-color-shade-10: #27559c;
	--link-color-shade-20: #2d62b2;
	--grey-background-color: #f2f2f2;
	--grey-background-color-shade-10: #dadada;
	--grey-background-color-shade-20: #c2c2c2;
	--body-background-color: var(--grey-background-color);

	--default-background-color: #fff;
	--side-bar-background-color: #fafafa;

	--new-color: var(--primary-color-shade-50);
	--learning-color: var(--red-color);
	--review-color: green;

	/* Spaces */
	--default-border-radius: 6px;
	--small-padding: 4px;
	--default-padding: 8px;
	--large-padding: 16px;
	--xl-padding: 24px;
	--xxl-padding: 32px;

	/* Sizes */
	--default-border-width: 2px;

	/* Other */
	--default-transition-time: 0.2s;
	--default-box-shadow:
		inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
		0 0 4px 1px rgba(0, 0, 0, 0.2);
	--placeholder-color: rgb(110, 110, 110);
}

body.dark {
	/* Colors */
	--text-color: #fff;
	--border-color: #4a5258;
	--hover-border-color: #6b7280;
	--body-background-color: #1a1f23;
	--default-background-color: #252b30;
	--light-default-background-color: rgb(52, 59, 65);
	--lighter-default-background-color: #4b555d;

	--grey-background-color: #424242;
	--grey-background-color-shade-10: #292929;
	--grey-background-color-shade-20: #0f0f0f;

	--side-bar-background-color: #1e2428;

	--new-color: var(--link-color);
	--learning-color: var(--red-color-light-10);
	--review-color: #0c0;

	--placeholder-color: #c8c8c8;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.4rem;
}

input::placeholder,
button:disabled {
	color: var(--placeholder-color);
}

button,
button:hover,
input,
select,
a {
	color: inherit;
}

a,
a:visited,
button.link {
	color: var(--link-color);
	transition: var(--default-transition-time);
	padding: 0;
}

a:focus,
button.link:focus {
	outline-color: var(--link-color);
}

a:hover,
button.link:hover {
	color: var(--link-color-shade-10);
}

a:active,
button.link:active {
	color: var(--link-color-shade-20);
}

.input,
input,
select {
	border-radius: var(--default-border-radius);
	outline: none;
	padding: var(--default-padding);
	border: var(--default-border-width) solid var(--border-color);
	transition: var(--default-transition-time);
	background-color: var(--default-background-color);
	color: var(--text-color);
	appearance: none;
	-webkit-appearance: none;
}

.input:hover,
input:hover,
select:hover {
	border-color: var(--hover-border-color);
}

.input:focus,
input:focus,
select:focus {
	border-color: var(--primary-color);
}

button {
	font-size: 1.6rem;
	border-radius: var(--default-border-radius);
	padding: var(--default-padding);
	cursor: pointer;
	transition: var(--default-transition-time);
	font-weight: 400;
	background-color: transparent;
	border: 1px solid transparent;
}

button:not(:disabled):hover {
	opacity: 0.9;
}

button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

button.primary {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

button.primary * {
	color: #fff;
}

button.primary:not(:disabled):focus {
	box-shadow: var(--default-box-shadow);
}

button.primary:active {
	background-color: var(--primary-color-shade-10);
}

button.secondary {
	color: #fff;
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

button.secondary * {
	color: #fff;
}

button.secondary:not(:disabled):focus {
	box-shadow: var(--default-box-shadow);
}

button.secondary:active {
	background-color: var(--secondary-color-shade-10);
}

button.secondary:focus {
	outline-color: var(--secondary-color);
}

button.transparent:not(:disabled):hover {
	background-color: var(--grey-background-color);
}

button.transparent:not(:disabled):active {
	background-color: var(--grey-background-color-shade-10);
}

button.grey-button {
	background-color: var(--grey-background-color-shade-10);
}

button.grey-button:active {
	background-color: var(--grey-background-color-shade-20);
}

button.grey-button:focus {
	border-color: var(--primary-color);
}

body.dark button.grey-button {
	background-color: var(--grey-background-color);
}

button.red {
	background-color: var(--red-color);
	color: #fff;
}

button.red:focus {
	outline-color: var(--red-color);
}

button.column-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: 300;
}

.dimmed {
	color: dimgray;
}

body.dark .overlay {
	background-color: rgba(255, 255, 255, 0.2);
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
	align-items: center;
}

.new-color {
	color: var(--new-color);
}

.learning-color {
	color: var(--learning-color);
}

.review-color {
	color: var(--review-color);
}

/* Global classes for the Lexical editor */
.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.8rem;
}

::-webkit-scrollbar-track {
	background: var(--body-background-color);
	border-radius: var(--default-border-radius);
	margin: var(--small-padding) 0;
}

::-webkit-scrollbar-thumb {
	background: var(--grey-background-color-shade-20);
	border-radius: var(--default-border-radius);
	transition: all 0.2s ease;
}

.dark ::-webkit-scrollbar-track {
	background: var(--light-default-background-color);
}

.dark ::-webkit-scrollbar-thumb {
	background: var(--lighter-default-background-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}

::-webkit-scrollbar-thumb:active {
	background: var(--primary-color-shade-10);
}
