.box {
	width: 52rem;
}

.alert {
	margin-top: var(--spacing-4);
}

.button-link {
	font-size: 1.6rem;
	text-align: left;
	margin-top: var(--spacing-5);
}

.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--spacing-6);
}

.instruction-text {
	margin-top: var(--spacing-6);
}

.checkbox-row {
	display: flex;
	align-items: center;

	& input {
		margin-right: var(--spacing-3);
	}
}
